<% @events.each do |event| %>
	<table class="row">
		<thead>
			<tr>
				<td>Event Name</td>
				<td>Event Type</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to event.name, event_url(event.id) %></td>
				<td><%= event.type %></td>
			</tr>
		</tbody>
	</table>
<% end %>