<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "Social Planning for Social Living", root_url %></h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span>Menu</span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li class="has-dropdown toplevel">
				<a href="#">Events</a>
				<ul>
					<li><%= link_to "New Event", new_event_url %></li>
					<li><%= link_to "Browse All Events", events_url %></li>
				</ul>
			</li>
			<li class="divider"></li>
			<li><%= link_to "Log Out", logout_url %></li>
		</ul>
	</section>
</nav>